@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
 
}
body{
    overflow-x: hidden;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    position: sticky;
    top: 0;
    border-bottom: 2px solid snow;
    z-index: 99;
    background-color: snow;
}
.left_content{
    display: flex;
    justify-content: space-between;
    align-items:center;
    position: relative;
}
.logo_img{
    height: 80px;
    mix-blend-mode: multiply;
}
.span{
    color: green;
    font-weight: 700;
    font-size: 15px;
    position: absolute;
    left: 100px;
    top: 30px;
    
}
.header_buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.user_name{
    margin: 10px 20px;
    border-bottom: 2px solid green;
    

}
.log_button{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
}
.log_button:hover{

    color: white;
    background-color: rgb(7, 7, 7);
    
}
.container{
    display: grid;
    grid-template-columns: 50% 40%;
    column-gap: 50px;
    justify-content: center;

}
.main_container{
    
    width: 80%;
    margin: 30px auto;

}
.content_title{
    font-size: 50px;
    margin-bottom: 20px;
    line-height: 70px;
}
.content_para{
    line-height: 40px;
    
}
.resume_img{
    height: 80%;
    width: 70%;
    border-radius: 10px;
    border: 2px solid rgb(92, 89, 89, 0.4);
}
.content{
    margin-top: 10px;
}
.resume_link{
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 5px;
    border-radius: 5px;
    margin-left: 200px;
}
.resume_temp{
    position: relative;
}
.resume_img2{
    height: 60%;
    width: 50%;
    border-radius: 10px;
    border: 2px solid rgb(92, 89, 89, 0.4);
    position: absolute;
    top: 110px;
    right: 80px;
}
.features_content{
    width: 90%;
    margin: 50px auto;
    text-align: center;
}
.features{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 2%;
    row-gap: 40px;
    justify-content: center;

}
.feature1 h2{
    margin-bottom: 20px;
}
.feature1 p{
    line-height: 30px;
}
.horiz{
    margin-left: 400px;
    width: 500px;
}
.feature_img{
    width: 80px;
}
.resume_templates{
    
    text-align: center;
}
.template_imgs{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.template_imgs img{
    width: 200px;
    border: 1px solid black;
    margin-top: 40px;
    margin-bottom: 50px;
}


.template_imgs img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.template_imgs img:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}



/* styling for animation */

/* .content,.resume_img,.resume_img2 {
    opacity: 0;

} */

.opacity{
    opacity: 0;

}

/* .content.animate__animated,.resume_img.animate__animated,.resume_img2.animate__animated{
    opacity: 1;
} */


.onopacity{
    opacity: 1;
}
.resume_img2{
    animation-delay: 0.60s;
}
.img2{
    animation-delay: 0.5s;
}
.img3{
    animation-delay: 0.4s;
}
.img4{
    animation-delay: 0.3s;
}
.img5{
    animation-delay: 0.2s;
}
footer{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0px 5px;
    width: 100%;
    height: 100px;
}
footer h3{
    color: white;
    font-weight: bolder;
}

