{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume - Richard Sanchez</title>
    <link rel="stylesheet" href="{% static 'css/resume4.css' %}">
</head>
<body>
    <div class="resume">
        <div class="left-column">
            <div class="profile-pic">
                <!-- <img src="#" alt="Richard Sanchez"> -->
            </div>
            <div class="contact">
                <h2>CONTACT</h2>
                <p><strong>Phone:</strong> {{phone}}</p>
                <p><strong>Email:</strong> {{mail}}</p>
                <p><strong>Address:</strong> {{address}}</p>
                <p><strong>Website:</strong> www.reallygreatsite.com</p>
            </div>

            <div class="education">
                <h2>EDUCATION</h2>
                <p><strong>{{yearstart}} - {{yearend}}</strong><br>{{school}}<br>{{education}}</p>
                <p><strong>{{yearstart1}} - {{yearend1}}</strong><br>{{school1}}<br>{{education1}}<br>GPA: 3.8 / 4.0</p>
            </div>

            <div class="skills">
                <h2>SKILLS</h2>
                <ul>
                    {% for i in skill %}
                    <li>{{i}}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="languages">
                <h2>LANGUAGES</h2>
                <ul>
                    {% for i in language %}
                    <li>{{i}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="right-column">
            <h1><span>{{name}}</span></h1>
            
            <div class="profile">
                <h2>PROFILE</h2>
                <p>{{summary}}</p>
            </div>

            <div class="work-experience">
                <h2>PROJECTS</h2>
                <div class="job">
                    <h3>PROJECT -1 {{project}}</h3>
                    <p>({{technology}})</p>
                    <ul>
                        {% if point1|length > 0 %}
                        <li>{{point1}}</li>
                        {% endif %}
                        {% if point2|length > 0 %}
                        <li>{{point2}}</li>
                        {% endif %}
                        {% if point3|length > 0 %}
                        <li>{{point3}}</li>
                        {% endif %}
                    </ul>
                </div>

                <div class="job">
                    <h3>PROJECT -2 {{project1}}</h3>
                    <p>{{technology1}}</p>
                    <ul>
                        {% if point11|length > 0 %}
                    <li>{{point11}}</li>
                    {% endif %}
                    {% if point21|length > 0 %}
                    <li>{{point21}}</li>
                    {% endif %}
                    {% if point31|length > 0 %}
                    <li>{{point31}}</li>
                    {% endif %}
                    </ul>
                </div>

                <div class="job">
                    <h2>CERTIFICATE</h2>
                    <h3>{{role}}</h3>
                    
                    <ul>
                        <li>{{about_role}}</li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="btn">
        <button id="btn">download</button>
    </div>
    <script src="{% static 'scripts/pdf_print.js' %}"></script>
</body>
</html>
